extends ./layouts/layout.jade

block content
  .container
    .row
      .col-sm-12
        h2 Welcome #{auth.credentials.profile.username}
        p Hello World
        p This is the homepage, which means you are logged in
        //- pre=JSON.stringify( auth, null, 2 )
