extends ./layout/layout.jade

block content
  h1.m-b Work in progress...
  .row.m-b
    .col-md-2
      button(data-top=1).top.btn.btn-block.btn-success 1's
    .col-md-2
      button(data-top=2).top.btn.btn-block.btn-success 2's
    .col-md-2
      button(data-top=3).top.btn.btn-block.btn-success 3's
    .col-md-2
      button(data-top=4).top.btn.btn-block.btn-success 4's
    .col-md-2
      button(data-top=5).top.btn.btn-block.btn-success 5's
    .col-md-2
      button(data-top=6).top.btn.btn-block.btn-success 6's

  .row.m-b
    .col-md-2
      button.kind3.btn.btn-block.btn-primary 3 of a Kind
    .col-md-2
      button.kind4.btn.btn-block.btn-primary 4 of a Kind
    .col-md-2
      button.house.btn.btn-block.btn-primary Full House
    .col-md-2
      button.small.btn.btn-block.btn-primary Small Straight
    .col-md-2
      button.large.btn.btn-block.btn-primary Large Straight
    .col-md-2
      button.chance.btn.btn-block.btn-primary Chance

  .row.m-b
    #container Loading...

  .row.m-b
    .col-md-12
      button.yahtzee.btn.btn-success.pull-right Yahtzee!
      button#roll.btn.btn-primary-outline Roll
      button.btn.btn-primary Score 
        span#score 0
      button.btn.btn-warning Turn 
        span#turn 0
      button.btn.btn-danger Roll 
        span#roll 0

  script#dieTemplate(type='text/template')
    .die(class!='value-<%= value %>')
      i.fa.fa-circle
      i.fa.fa-circle
      i.fa.fa-circle
      i.fa.fa-circle
      i.fa.fa-circle
      i.fa.fa-circle
      i.fa.fa-star
