extends ./layouts/layout.jade

block navigation
  nav.navbar.navbar-light.bg-faded
    .container
      a.navbar-brand(href=navbarBrand.link) #{navbarBrand.title}

block content
  .container
    .row
      .col-sm-12
        p Hello World
        p 
          a.btn.btn-info(href='/login/twitter') Login with Twitter
        p 
          if auth.isAuthenticated
            span You are logged in!
          else
            span You are NOT welcome, yet. Please login.

block foot
